/**
 * VARIABLES
 *
 * Defines project-wide CSS custom properties using the `:root` selector. These 
 * variables serve as design tokens for consistent themeing across the UI, 
 * including colours, spacing, typography, etc.
 */

:root {
    /* ---------- COLOURS */

    /**
     * A note on the colour custom properties. You will see that there is two 
     * sets of repeating colour values, one set isn't prefix with hsl and one 
     * set is prefixed with hsl. The custom properties that haven't been 
     * prefixed with hsl are the raw hsl values. In order to correctly use 
     * these custom properties, you need to declare the hsl(). For example hsl
     * (var(--clr-neutral-500)); This is to allow for situations where an alpa 
     * value needs to be added to a colour. For example hsl(var 
     * (--clr-neutral-900) / 0.5); Only use these values if you intend use an 
     * alpha value, if not use the hsl prefix custom properties.
     */

    --clr-neutral-100: 0 0% 100%;
    --clr-neutral-200: 220 27% 98%;
    --clr-neutral-300: 220 36% 84%;
    --clr-neutral-500: 221 17% 67%;
    --clr-neutral-700: 219 18% 43%;
    --clr-neutral-800: 219 88% 12%;
    --clr-neutral-900: 100 100% 0%;

    --clr-pri: 219 89% 17%;
    --clr-sec: 216 51% 73%;
    --clr-acnt: 4 27% 69%;

    --clr-neutral-100-hsl: hsl(var(--clr-neutral-100));
    --clr-neutral-200-hsl: hsl(var(--clr-neutral-200));
    --clr-neutral-300-hsl: hsl(var(--clr-neutral-300));
    --clr-neutral-500-hsl: hsl(var(--clr-neutral-500));
    --clr-neutral-700-hsl: hsl(var(--clr-neutral-700));
    --clr-neutral-800-hsl: hsl(var(--clr-neutral-800));
    --clr-neutral-900-hsl: hsl(var(--clr-neutral-900));

    --clr-pri-hsl: hsl(var(--clr-pri));
    --clr-sec-hsl: hsl(var(--clr-sec));
    --clr-acnt-hsl: hsl(var(--clr-acnt));

    /* ---------- FONTS */
    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-bold: 700;

    --fs-100: 0.75rem; /* 12px */
    --fs-200: 0.875rem; /* 14px */
    --fs-300: 1rem; /* 16px */
    --fs-400: 1.125rem; /* 18px */
    --fs-500: 1.25rem; /* 20px */
    --fs-600: 1.625rem; /* 26px */
    --fs-700: 1.75rem; /* 28px */
    --fs-800: 2.25rem; /* 36px */

    --ff-pri: 'Cadiz Regular', sans-serif;
    --ff-pri-bld: 'Cadiz Bold', sans-serif;
    --ff-sec: 'Ivy Mode Semibold', serif;
    --ff-sec-reg: 'Ivy Mode Regular', serif;

    /* ---------- TYPOGRAPHY */

    /* Copy */
    --copy-clr: var(--clr-neutral-700-hsl);
    --copy-fw: var(--fw-regular);
    --copy-fs: var(--fs-200);
    --copy-ff: var(--ff-pri);
    --copy-font: var(--copy-fw) var(--copy-fs) var(--copy-ff);
    --copy-leading: 1.5;
    --copy-tracking: 0.5px;

    /* Heading */

    /**
     * The `.heading` utility class must be applied anytime a heading level is 
     * applied in the markup. There isn't any default global heading levels 
     * styled in the boilerplate. It is up to you to define the styles for the 
     * `.heading` utility class. The default styles only contain the 
     * `font-weight`, `font-family` and `line-height`. A `font-size`
     * will need to be defined when required.
     */

    --heading-fw: var(--fw-semibold);
    --heading-ff: var(--ff-sec);
    --heading-leading: 1.1;

    --heading-alt-fw: var(--fw-bold);
    --heading-alt-fs: 80%;
    --heading-alt-ff: var(--ff-pri-bld);
    --heading-alt-font: var(--heading-alt-fw) var(--heading-alt-fs)
        var(--heading-alt-ff);
    --heading-alt-tracking: 2px;
    --heading-alt-case: uppercase;
    --heading-alt-leading: 1.25;

    /* ---------- LINKS */
    --link-transition: color 200ms ease-in-out;
    --link-clr: inherit;
    --link-clr-hover: var(--clr-sec-hsl);
    --link-decoration: none;
    --link-decoration-hover: none;
    --link-outline-radius: 2px;
    --link-outline-offset: 4px;
    --link-outline-width: 2px;
    --link-outline-clr: hsl(214 94% 68%);

    /* ---------- LAYOUT */

    /* Container */
    --container-max-w: 21.375rem;
    --container-p: 0.375rem;

    /* Site Header */
    --site-header-transition: background-color 300ms ease-in-out,
        transform 1000ms ease-in-out;
    --site-header-border-b: 1px solid hsl(var(--clr-neutral-100) / 0.25);

    --site-header-wrapper-max-w: 20.625rem;
    --site-header-wrapper-py: 2rem;

    --site-header-branding-w: 9rem;
    --site-header-branding-transition: opacity 200ms ease-in-out;
    --site-header-branding-opacity-hover: 0.5;
    --site-header-branding-outline-clr: var(--clr-neutral-100-hsl);

    --site-header-menu-p: 2rem;
    --site-header-menu-bg: hsl(var(--clr-neutral-900) / 0.75);
    --site-header-menu-font: var(--fw-bold) var(--fs-300) var(--ff-pri-bld);
    --site-header-menu-case: uppercase;
    --site-header-menu-tracking: 4px;
    --site-header-menu-toggle-btn-clr: var(--clr-neutral-100-hsl);
    --site-header-menu-items-gap: 1.5rem;
    --site-header-menu-items-clr: var(--clr-neutral-100-hsl);
    --site-header-menu-items-clr-hover: hsl(var(--clr-neutral-100) / 0.5);
    --site-header-menu-items-outline-clr: var(--clr-neutral-100-hsl);

    --site-header-scrolled-shadow: 0 25px 50px -12px hsl(var(--clr-neutral-900) /
                0.25);
    --site-header-scrolled-bg: hsl(var(--clr-neutral-100) / 0.75);
    --site-header-scrolled-backdrop: blur(10px);
    --site-header-scrolled-clr: var(--clr-neutral-100-hsl);
    --site-header-scrolled-clr-hover: hsl(var(--clr-pri) / 0.5);
    --site-header-scrolled-toggle-btn-clr: var(--clr-pri-hsl);
    --site-header-scrolled-outline-clr: var(--link-outline-clr);

    /* ---------- COMPONENTS */

    /* Buttons */
    --btn-p: 1rem 1.25rem;
    --btn-radius: 12px;
    --btn-transition: border 150ms ease, background-color 200ms ease-in-out,
        color 150ms ease;
    --btn-border-w: 2px;
    --btn-border-clr: transparent;
    --btn-border-clr-hover: transparent;
    --btn-fw: var(--fw-bold);
    --btn-fs: var(--copy-fs);
    --btn-ff: var(--ff-pri-bld);
    --btn-case: uppercase;
    --btn-tracking: 3px;
    --btn-outline-offset: 3px;

    --btn-group-gap: 1.5rem;

    --btn-solid-clr: var(--clr-neutral-100-hsl);
    --btn-outlined-bg: transparent;
    --btn-solid-hover-alpha: 0.7;

    --btn-pri: var(--clr-pri-hsl);
    --btn-pri-hover: hsl(var(--clr-pri) / var(--btn-solid-hover-alpha));
    --btn-pri-clr: var(--btn-solid-clr);
    --btn-pri-outlined-clr: var(--clr-pri-hsl);

    --btn-sec: var(--clr-sec-hsl);
    --btn-sec-hover: hsl(var(--clr-sec) / var(--btn-solid-hover-alpha));
    --btn-sec-clr: var(--btn-solid-clr);
    --btn-sec-outlined-clr: var(--clr-sec-hsl);

    --btn-acnt: var(--clr-acnt-hsl);
    --btn-acnt-hover: hsl(var(--clr-acnt) / var(--btn-solid-hover-alpha));
    --btn-acnt-clr: var(--btn-solid-clr);
    --btn-pri-outlined-clr: var(--clr-acnt-hsl);

    --btn-ondark: var(--clr-neutral-100-hsl);
    --btn-ondark-hover: hsl(
        var(--clr-neutral-100) / var(--btn-solid-hover-alpha)
    );
    --btn-ondark-clr: var(--clr-pri-hsl);
    --btn-ondark-outlined: transparent;

    /* Hero */
    --hero-h: 42rem;
    --hero-clr: var(--clr-neutral-100-hsl);
    --hero-heading-max-w: 18.75rem;
    --hero-heading-fs: var(--fs-700);
    --hero-heading-alt-fs: var(--fs-100);
    --hero-hr-width: 3.25rem;
    --hero-hr-my: 2rem;
    --hero-hr-border-clr: hsl(var(--clr-neutral-100) / 0.5);

    /* Blocks */
    --block-gap: 2.25rem;
    --block-max-w: 20.375rem;
    --block-py: 6rem;
    --block-heading-clr: var(--clr-pri-hsl);
    --block-heading-fs: var(--fs-500);
    --block-heading-alt-clr: var(--clr-neutral-500-hsl);
    --block-content-gap: 1.25rem;
    --block-content-text-align: center;

    /* Call to Action */
    --cta-py: 4.125rem;
    --cta-clr: var(--clr-neutral-100-hsl);
    --cta-text-align: center;
    --cta-heading-max-w: 12rem;
    --cta-heading-m: 2rem auto 0;
    --cta-heading-fs: var(--fs-700);
    --cta-heading-alt-fs: var(--fs-100);
    --cta-container-gap: 2rem;

    /* Modal */
    --modal-bg: hsl(var(--clr-neutral-900) / 0.75);

    --modal-content-bg: var(--clr-neutral-100-hsl);
    --modal-content-p: 2rem 0 0;
    --modal-content-radius: 8px;
    --modal-content-max-w: 43.75rem;
    --modal-content-size: 90%; /* Width and Height */
    --modal-content-clr: var(var(--copy-clr));
    --modal-content-fs: 1.5rem;
    --modal-content-transition: transform 600ms ease, opacity 600ms ease;

    --modal-close-btn-transition: opacity 300ms ease-in-out;
    --modal-close-btn-clr: var(--clr-pri-hsl);

    /* ---------- UTILITIES */

    --fade-in-duration: 600ms;

    /* -------------------------------------------------------------------------
     * MEDIA QUERIES
     * ---------------------------------------------------------------------- */

    /* ---------- 768px */
    @media (min-width: 48em) {
        --fs-100: 0.875rem;
        --fs-500: 1.625rem;
        --fs-700: 2rem;

        --copy-fs: var(--fs-300);

        --container-max-w: 43.125rem;
        --container-p: 0.5rem;

        --site-header-wrapper-max-w: 43rem;
        --site-header-wrapper-px: 2rem;

        --hero-h: 40.875rem;
        --hero-heading-max-w: 32.5rem;

        --block-max-w: 34.75rem;
        --block-content-text-align: left;

        --cta-py: 10.5rem;
        --cta-text-align: left;
    }

    /* ---------- 1280px */
    @media (min-width: 80em) {
        --fs-500: 2rem;
        --fs-700: 4rem;

        --container-max-w: 55.875rem;
        --container-p: 0.75rem;

        --site-header-wrapper-max-w: 68.75rem;
        --site-header-wrapper-border-b: var(--site-header-border-b);
        --site-header-menu-p: 0;
        --site-header-menu-bg: transparent;
        --site-header-menu-items-gap: 2rem;
        --site-header-menu-items-fs: var(--fs-100);
        --site-header-scrolled-clr: var(--clr-pri-hsl);
        --site-header-scrolled-clr-hover: hsl(var(--clr-pri) / 0.5);

        --btn-group-gap: 1.625rem;

        --hero-h: 55rem;
        --hero-heading-max-w: 61.875rem;

        --block-max-w: 67.875rem;

        --cta-py: 6rem;
        --cta-heading-max-w: 30rem;

        --modal-content-p: 2rem 1rem 0;
    }

    /* ---------- 1440px */
    @media (min-width: 90em) {
        --container-max-w: 69.375rem;

        --site-header-wrapper-max-w: 69.375rem;

        --hero-h: 50rem;
    }
}
