/**
 * FONTS
 *
 * The fonts partial handles custom font imports for the project using the 
 * `font-face` mixin. It ensures that fonts are loaded efficiently and 
 * consistently across the site.
 *
 * Font files are imported using `font-display: swap` for performance, and 
 * `font-weight` and `font-style` are declared explicity for clarity and 
 * control.
 */

@use '../abstracts/mixins' as mixin;

/* Cadiz */
@include mixin.font-face(
    $font-uri: '/assets/fonts/cadiz/Cadiz-Regular.ttf',
    $font-weight: 400,
    $font-family: 'Cadiz Regular'
);

@include mixin.font-face(
    $font-uri: '/assets/fonts/cadiz/Cadiz-Bold.ttf',
    $font-weight: 700,
    $font-family: 'Cadiz Bold'
);

/* Ivy Mode */
@include mixin.font-face(
    $font-uri: '/assets/fonts/ivy-mode/IvyMode-Regular.ttf',
    $font-weight: 400,
    $font-family: 'Ivy Mode Regular'
);

@include mixin.font-face(
    $font-uri: 'assets/fonts/ivy-mode/IvyMode-SemiBold.ttf',
    $font-weight: 600,
    $font-family: 'Ivy Mode Semibold'
);
