/**
 * EFFECTS
 *
 * The effects utility classes are used for visual effects. These classes are 
 * designed to be composable and reusable across the codebase, allowing for 
 * consistent styling without tighly coupling effects to specific components.
 *
 * Use these classes to enhance UI interactions and visual depth without 
 * writing repetitive and redundant CSS for common patterns.
 */

@use '../abstracts/mixins' as mixin;

/**
 * FADE IN
 *
 * The `.fade-in` utility class will dynamically reveal content as the page is 
 * scrolled. The `.fade-in-active` class is dynmically applied via JS. The 
 * duration of the effect can be altered via the `--fade-in-duration` custom 
 * property
 */

.fade-in {
    opacity: 0;
    transition: opacity var(--fade-in-duration) ease-in;

    &-active {
        opacity: 1;
    }
}
