/**
 * -----------------------------------------------------------------------------
 * BLOCKS
 * -----------------------------------------------------------------------------
 *
 * The blocks partial defines the styles of the `.block` styles along with the 
 * alternate block styles (`.block-alt`) which reverses the layout of the block 
 * from the `.block` styles and applies a light grey background colour.
 */

@use '../abstracts/mixins' as mixin;

.block {
    @include mixin.flex($direction: column, $gap: var(--block-gap));

    max-width: var(--block-max-w);
    padding-block: var(--block-py);
    margin-inline: auto;

    &-img {
        margin-bottom: auto;
    }

    &-content {
        display: flex;
        flex-direction: column;
        gap: var(--block-content-gap);
        text-align: var(--block-content-text-align);

        .heading-alt {
            color: var(--block-heading-alt-clr);
        }

        .heading {
            color: var(--block-heading-clr);
            font-size: var(--block-heading-fs);
            line-height: 1.5;
        }

        .btn {
            margin-inline: auto;
        }
    }
}

@media (min-width: 48em) {
    .block {
        &-content {
            .btn {
                margin-inline: unset;
            }
        }
    }
}

@media (min-width: 80em) {
    .block {
        flex-direction: row;

        &-alt {
            flex-direction: row-reverse;
        }

        &-img img {
            margin-left: auto;
        }

        &-content,
        &-img {
            width: 50%;
        }
    }
}
