/**
 * BUTTONS
 *
 * The buttons partial defines the base styles and variant button styles. Each 
 * button has been styled consistently, with clear visual hierarchy and 
 * accessible focus states.
 */

@use '../abstracts/mixins' as mixin;

/**
 * Button
 *
 * The `.btn` class sets up the global styles for a button. The `.btn` class 
 * must be delcared before a button theme in order to display correctly. 
 */

.btn {
    @include mixin.btn(
        $padding: var(--btn-p),
        $radius: var(--btn-radius),
        $transition: var(--btn-transition),
        $border-width: var(--btn-border-w),
        $border-clr: var(--btn-border-clr),
        $border-clr-hover: var(--btn-border-clr-hover),
        $font-weight: var(--btn-fw),
        $font-size: var(--btn-fs),
        $font-family: var(--btn-ff),
        $case: var(--btn-case),
        $tracking: var(--btn-tracking),
        $outline-offset: var(--btn-outline-offset)
    );
}

/**
 * Button Utility Classes
 *
 * Button utility classes adjust the appearance of a button, for example the `.
 * btn-pill` utility class will make the radius of a button circular giving the 
 * button an appearance of being a pill shape. The `.btn-group` will group 
 * buttons together horizontally and apply a gap between each button.
 */

.btn-pill {
    border-radius: 99vw;

    @include mixin.hover-focus-within {
        border-radius: 99vw;
    }
}
