/**
 * CALL TO ACTION
 *
 * Sets the styles for the call to action component.
 */

@use '../abstracts/mixins' as mixin;

.cta {
    padding-block: var(--cta-py);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    color: var(--cta-clr);
    text-align: var(--cta-text-align);

    .container {
        @include mixin.flex($gap: var(--cta-container-gap), $direction: column);
    }

    .heading-alt {
        font-size: var(--cta-heading-alt-fs);
    }

    .heading {
        max-width: var(--cta-heading-max-w);
        margin: var(--cta-heading-m);
        font-size: var(--cta-heading-fs);
    }

    .btn {
        margin-inline: auto;
    }
}

// Loop through each branding colour and return the call to action overlay theme
$cta-overlay-theme: (
    primary: 'pri',
    secondary: 'sec',
    accent: 'acnt',
);

@each $name, $prefix in $cta-overlay-theme {
    .cta-overlay-#{$name} {
        background-color: var(--clr-#{$prefix}-hsl);
    }
}

@media (min-width: 48em) {
    .cta {
        background-position: top center;

        .container {
            flex-direction: row;
        }

        .btn {
            margin-inline: auto 0;
        }
    }
}

@media (min-width: 80em) {
    .cta {
        background-position-y: -10rem;
    }
}
