/**
 * -----------------------------------------------------------------------------
 * HEROES
 * -----------------------------------------------------------------------------
 *
 * Sets the styles for heroes on the site.
 */

@use '../abstracts/mixins' as mixin;

.hero {
    height: var(--hero-h);
    display: grid;
    place-items: center;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    color: var(--hero-clr);
    text-align: center;

    .heading {
        margin-top: 1rem;
        font-size: var(--hero-heading-fs);
        line-height: 1.25;

        &-alt {
            font-size: var(--hero-heading-alt-fs);
        }
    }

    .heading,
    .heading-alt {
        max-width: var(--hero-heading-max-w);
        margin-inline: auto;
    }

    hr {
        width: var(--hero-hr-width);
        margin-block: var(--hero-hr-my);
        margin-inline: auto;
        border-color: var(--hero-hr-border-clr);
    }
}

/**
 * -----------------------------------------------------------------------------
 * Hero Overlay
 * -----------------------------------------------------------------------------
 *
 * The hero overlay styles apply a background overlay to the hero.
 */

// Loop through each branding colour and apply it to the hero overlay's
// respective class.
$hero-overlays: (
    primary: 'pri',
    secondary: 'sec',
    accent: 'acnt',
);

@each $name, $prefix in $hero-overlays {
    .hero-overlay-#{$name} {
        background-color: var(--clr-#{$prefix}-hsl);
    }
}
