/**
 * CONTAINER
 *
 * The container partial defines the container to constrain content width and 
 * apply consistent horizontal padding across the site. The `.container` class 
 * helps maintain readable line lengths and aligns content.
 */

@use '../abstracts/mixins' as mixin;

.container {
    max-width: var(--container-max-w);
    padding: var(--container-p);
    margin-inline: auto;
}
