/**
 * SITE FOOTER
 *
 * Styles for the main footer, including the layout, branding, social links, 
 * site navigation menu, contact details and attribution styles.
 */

@use '../abstracts/mixins' as mixin;

.site-footer {
    padding-block: var(--site-footer-py);
    background-color: var(--site-footer-bg);
    color: var(--site-footer-clr);
    font-size: var(--site-footer-fs);
    text-align: var(--site-footer-text-align);

    hr {
        margin-block: var(--site-footer-rule-my);
        border-color: var(--site-footer-rule-border-clr);
    }

    .container {
        @include mixin.flex(
            $direction: column,
            $gap: var(--site-footer-container-gap)
        );
    }

    .heading {
        color: var(--site-footer-heading-clr);
        font-size: var(--site-footer-heading-fs);
        text-transform: var(--site-footer-heading-case);
    }

    &-branding {
        max-width: var(--site-footer-branding-);

        img {
            width: var(--site-footer-branding-img-w);
            margin-inline: auto;
        }

        p {
            margin-top: var(--site-footer-spacer);
            color: var(--site-footer-branding-content-clr);
            letter-spacing: var(--site-footer-branding-content-tracking);
        }
    }

    &-socials {
        margin-block: var(--site-footer-spacer);

        nav {
            @include mixin.flex(
                $direction: row,
                $gap: var(--site-footer-spacer)
            );

            a {
                transition: var(--site-footer-socials-transition);
                fill: var(--site-footer-socials-icn-fill);

                @include mixin.hover-focus {
                    fill: var(--site-footer-socials-icn-fill-hover);
                }
            }
        }
    }

    &-links {
        nav {
            @include mixin.flex(
                $direction: column,
                $gap: var(--site-footer-links-gap)
            );

            margin-top: var(--site-footer-spacer);
            text-transform: var(--site-footer-links-case);
        }
    }

    &-contacts {
        margin-top: var(--site-footer-spacer);

        address {
            margin-top: var(--site-footer-spacer);
        }

        ul {
            @include mixin.flex(
                $direction: column,
                $gap: var(--site-footer-contacts-gap)
            );

            margin-top: var(--site-footer-contacts-ul-mt);
        }
    }

    &-closing {
        nav {
            @include mixin.flex(
                $direction: row,
                $gap: var(--site-footer-closing-gap)
            );

            font-weight: var(--site-footer-closing-fw);
            font-size: var(--site-footer-closing-fs);
            font-family: var(--site-footer-closing-fw);
            text-transform: var(--site-footer-closing-case);
            letter-spacing: var(--site-footer-closing-tracking);
        }
    }

    &-attribution {
        margin-block: var(--site-footer-spacer);
        color: var(--clr-neutral-500-hsl);
    }
}

/**
 * Media Queries
 */

/* 768px */
@media (min-width: 48em) {
    .site-footer {
        &-grid {
            width: 30rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        &-contacts {
            margin-top: 0;
        }
    }
}
